body{
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    font-family: 'Nunito', sans-serif;
    background: url(./img/wood-leaves-timber-wood-planks-139312.jpg) no-repeat;
    background-position: cover;
  
}

.divisions{
    display: inline-flex;
    position: absolute;
    left:40%;
    transform: translate(-50%,-50%);    
}

.divisions h1{
    letter-spacing: 4px;
    font-weight: lighter; 
    margin-left:300px;
    margin-right:100px;
    margin-top:0px;
}

.table-container{
    left:50%;
    transform: translate(-50%,-50%);
    margin-top:15%;
    position:absolute;
    top:20%;
    box-shadow: 2px 2px 56px black;
    background: rgba(226, 233, 227, 0.753);
}
/* nav bar */

header{
    padding-left:30px;
    float:left;
    font-weight: lighter;
}

header::after{
    
    content:'';
    display: table;
    clear: both;
}

header{
    position:sticky;
    top: 0px;
    background:rgba(0, 0, 0, 0.61);
    width:100%;
}

nav{
    float: left;    
}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    display:inline-block;
    margin-left: 70px;
    padding-top:25px;
    position: relative;
    padding-bottom: 20px;
}

nav a{
    color:rgba(255, 255, 255, 0.473);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

nav a:hover{
    color:rgb(252, 252, 252);
}

nav a::before{
    content:'';
    display:block;
    height: 2px;
    width:100%;
    background-color:rgb(255, 255, 255);
    top:0;
    width:0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width:100%;
}

/* headers 8/


/* Record Table Positioning */
.recordsTable{
    position: relative;
    margin-top:20%;
    display:inline-flex;
    left:50%;
    transform: translate(-50%, -50%);
}

.recordsTable table{
    margin:10px;
}

/* tables Design */
.content-table{
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
}

.content-table thead tr{
    background-color: #009879;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding:12px 15px;
    text-align: center;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.menu{
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
    padding-bottom: 15px;
    border-radius: 10px;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top:15%;
    font-size: 17px;
    width:320px;
    position:absolute;
    top:20%;
    box-shadow: 2px 2px 56px rgb(0, 0, 0);
    background: rgba(226, 233, 227, 0.753);
}

.menu span{
    font-weight: bolder;
    font-size:20px;
    color:rgba(0, 0, 0, 0.808);
}

#all{
    width: 100vw;
    height: 100vh;
}

a{
    cursor: pointer;
}